@model TravelTrip.Models.sınıflar.kitaplar
@{
    ViewBag.Title = "kitapGetir";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Kitap Güncelleme</h2>
<br />
@using (Html.BeginForm("kitapGüncelle", "AdminController", FormMethod.Post))
{
    @Html.LabelFor(x => x.ID)
    @Html.TextBoxFor(x => x.ID, new { @class = "form-control ", @readonly = "readonly" })
    <br />
    @Html.LabelFor(x => x.kitapBaslik)
    @Html.TextBoxFor(x => x.kitapBaslik, new { @class = "form-control " })
    <br />
    @Html.LabelFor(x => x.kitapAciklama)
    @Html.TextBoxFor(x => x.kitapAciklama, new { @class = "form-control " })
    <br />
    @Html.LabelFor(x => x.kitapImage)
    @Html.TextBoxFor(x => x.kitapImage, new { @class = "form-control " })
    <br />
    <button class="btn btn-success">Güncelle</button>

