@model TravelTrip.Models.sınıflar.kitaplar
@{
    ViewBag.Title = "yeniKitap";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Yeni Kitap</h3>
<br />
<form class="form-group" method="post">
    @Html.LabelFor(x => x.kitapBaslik)
    @Html.TextBoxFor(x => x.kitapBaslik, new { @class = "form-control " })
    <br />
    @Html.LabelFor(x => x.kitapAciklama)
    @Html.TextBoxFor(x => x.kitapAciklama, new { @class = "form-control " })
    <br />
    @Html.LabelFor(x => x.kitapImage)
    @Html.TextBoxFor(x => x.kitapImage, new { @class = "form-control " })
    
   

    <button class="btn btn-primary">Ekle</button>



</form>

